<mat-card class="cardProducto">
  <img mat-card-image src="https://sembramos.com.co/media/catalog/product/cache/1/small_image/258x245/9df78eab33525d08d6e5fb8d27136e95/1/_/1_1_64.jpg"
    alt="">
  <mat-card-title class="titleProducto">
    $70,500/CO
  </mat-card-title>
  <mat-card-subtitle>
    Suculenta rara bla bla Suculenta rara bla bla Suculenta rara bla bla
  </mat-card-subtitle>

  <mat-card-actions fxLayout='row' fxLayoutWrap>
    <div fxFlex>
      <button fxFlex mat-button class="mat-primary"> 📖 Detalles </button>
    </div>
    <div fxFlex>
      <button fxFlex mat-button class="mat-primary"> 🛒 Agregar</button>
    </div>
  </mat-card-actions>
</mat-card>
<br>