<mat-card>
  <img mat-card-image src="https://sembramos.com.co/media/catalog/product/cache/1/small_image/258x245/9df78eab33525d08d6e5fb8d27136e95/1/_/1_1_64.jpg"
    alt="">
  <mat-card-title>
    $70,500/CO
  </mat-card-title>
  <mat-card-subtitle>
    Lorem ipsum.
  </mat-card-subtitle>

  <!--<mat-card-actions fxLayout='row'>
    <button fxFlex mat-button class="mat-primary">Ver detalles</button>
    <button fxFlex mat-button class="mat-primary">Comprar</button>
  </mat-card-actions>-->
</mat-card>
<br>