<div fxLayout='column'>
  <app-banner fxFlex></app-banner>


<!--[dynamicHeight]='true'-->
  <mat-tab-group >
    <mat-tab label="Productos nuevos" >
      <br>
      <div fxLayout='row' fxLayoutWrap fxLayoutAlign="space-around center">

        <app-producto *ngFor='let prod of productos; i as index' fxFlex='23.5' fxFlex.sm='31.5' fxFlex.xs='48.5'>
        </app-producto>



      </div>
    </mat-tab>
    <mat-tab label="Productos destacados">
        <br>
      <div fxLayout='row' fxLayoutWrap fxLayoutAlign="space-between center">

        <app-producto *ngFor='let prod of productos; i as index' fxFlex='23.5' fxFlex.sm='31.5' fxFlex.xs='48.5'>
        </app-producto>



      </div>
    </mat-tab>

  </mat-tab-group>
</div>