<div fxLayout='row' fxLayoutAlign='center center'>
  <mat-card fxFlex='40' fxFlex.sm='60' fxFlex.xs='100'>

    <form (ngSubmit)="log()" fxLayout='column'>
      <button class='mat-primary' (click)='gem()' mat-raised-button type="button">Facebook</button>
      <br>
      <button class='mat-primary' (click)='google()' mat-raised-button type="button">Google</button>
      <p class="mxm-or-signin"><span>o</span></p>
      <!-- Email-->
      <mat-form-field fxFlex>
        <input matInput placeholder="Dirección de correo electónico" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <!-- Password -->
      <mat-form-field fxFlex>
        <input matInput type='password' placeholder="Contraseña" [formControl]="pass" required>
        <mat-error *ngIf="pass.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <button class='mat-primary' mat-raised-button type="submit">Inisiar sesión</button>
    </form>
  </mat-card>
</div>