

.topHeader {
  height: 45px;
  background-color: #424242;
  color: #bdbdbd;
  overflow: hidden;
  p, a {
    font-size: 14px;
  }
}


/* unvisited link */
a:link {
  color: #bdbdbd;
}

/* visited link */
a:visited {
  color: #bdbdbd;
}

/* mouse over link */
a:hover {
  color: whitesmoke;
}

/* selected link */
a:active {
  color: whitesmoke;
}