<mat-toolbar fxFlex>
  <!--  HEADER-->
  <mat-toolbar-row class="topHeader" fxLayout='row' fxLayoutAlign="center center">
    <div fxLayout='row' fxFlex='75' fxFlex.sm='100' fxFlex.xs='100'>
      <div fxFlex='85'>
        <p>
          <!--<img src="./assets/ws.svg" alt="" width="15" style="vertical-align:middle">-->
          <span matTooltip="Escribos al WhatsApp o llamanos.">
            🤙 (+57) 319 705 35 13
          </span>
        </p>
      </div>
      <div fxFlex='15' fxLayout='row' fxLayoutAlign='end center'>
        <p fxFlex>
          <a [routerLink]="['/login']">Ingresar</a>
          🔑
          <a [routerLink]="['/registrar']">Registrarse</a>
        </p>
      </div>
    </div>

  </mat-toolbar-row>
  <!-- MENU -->
  <mat-toolbar-row fxLayout='row' fxLayoutAlign="center center">
    <div fxLayout='row' fxFlex='75' fxFlex.sm='100' fxFlex.xs='100'>
      <div fxLayout='row' fxFlex>
        <div fxFlex='11'>
          <a [routerLink]="['/home']">
          </a>
          <span class="brand">NATIVA</span>
        </div>

        <div fxFlex>
          <button mat-button [matMenuTriggerFor]="animals">Materas</button>
          <button mat-button [matMenuTriggerFor]="animals">Plantas</button>
          <button mat-button [matMenuTriggerFor]="animals">Contactenos</button>
          <button mat-button [matMenuTriggerFor]="animals">Preguntas frecuentes</button>
        </div>

      </div>
      <div fxLayout='row' fxLayoutAlign='end center' fxFlex='20'>
        <mat-chip-list>
          <mat-chip color='primary'>
            0 productos en cesta
          </mat-chip>
        </mat-chip-list>

        <button mat-icon-button class="mat-primary">
          <mat-icon>
            shopping_cart
          </mat-icon>
        </button>

        <button mat-icon-button class="mat-primary">
          <mat-icon>
            menu
          </mat-icon>
        </button>

      </div>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #animals="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
  <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
</mat-menu>

<mat-menu #vertebrates="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
  <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
  <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
  <button mat-menu-item>Birds</button>
  <button mat-menu-item>Mammals</button>
</mat-menu>

<mat-menu #invertebrates="matMenu">
  <button mat-menu-item>Insects</button>
  <button mat-menu-item>Molluscs</button>
  <button mat-menu-item>Crustaceans</button>
  <button mat-menu-item>Corals</button>
  <button mat-menu-item>Arachnids</button>
  <button mat-menu-item>Velvet worms</button>
  <button mat-menu-item>Horseshoe crabs</button>
</mat-menu>

<mat-menu #fish="matMenu">
  <button mat-menu-item>Baikal oilfish</button>
  <button mat-menu-item>Bala shark</button>
  <button mat-menu-item>Ballan wrasse</button>
  <button mat-menu-item>Bamboo shark</button>
  <button mat-menu-item>Banded killifish</button>
</mat-menu>

<mat-menu #amphibians="matMenu">
  <button mat-menu-item>Sonoran desert toad</button>
  <button mat-menu-item>Western toad</button>
  <button mat-menu-item>Arroyo toad</button>
  <button mat-menu-item>Yosemite toad</button>
</mat-menu>

<mat-menu #reptiles="matMenu">
  <button mat-menu-item>Banded Day Gecko</button>
  <button mat-menu-item>Banded Gila Monster</button>
  <button mat-menu-item>Black Tree Monitor</button>
  <button mat-menu-item>Blue Spiny Lizard</button>
  <button mat-menu-item disabled>Velociraptor</button>
</mat-menu>
